// fonts
$font-path: "../fonts";
$font-family: "Inter";
$font-Regular: "Regular";
$font-Medium: "Medium";
$font-Semi-bold: "SemiBold";
$font-Bold: "Bold";
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
// colors
$color1: #fff;
$color2: #f9fafc;
$color3: #111827;
$color4: #5048e5;
$color5: #e6e8f0;
$color6: #f3f4f6;
$color7: #6b7280;
$color8: #d1d5db;
$color9: #9ca3af;
$color10: #1F2937;
$color11: #10b981;
// media request
$screen-desktop: "(min-width: 1280px)";
// transition
$transition: 0.5s;
