.footer {
  margin-top: 32px;
  padding: 0 48px 24px;
  &::before {
    content: "";
    border-top: 1px solid $color5;
    display: block;
  }
  &__title {
    color: $color3;
    font-size: 14px;
    line-height: 157%;
    margin: 8px 0;
  }
  &__description {
    color: $color7;
    font-size: 14px;
    line-height: 157%;
    margin: 0;
  }
  &__underline {
    text-decoration-line: underline;
  }
}
